.fullheight {
    height: 100%;
}


body {
    max-width: 2048px;
    max-height: 1080px;
}

.wrapper {
    margin-left: 300px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    background-color: #ebebeb;
    color: #2b3e50;
    box-shadow: inset 0px 10px 8px -10px #2b3e50, inset 0px -10px 8px -10px #2b3e50, 12px 0px 8px -10px #1e2c3a, -12px 0px 8px -10px #1e2c3a;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.btn-group,
.input-group {
    margin: 5px;
}

.btn,
.form-control {
    margin: 5px;
}

.btn-group .btn,
.input-group .form-control {
    margin: 0;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

header.navbar {
    margin-top: 5px;
    border-bottom: 1px solid #4e5d6c;
}

.pagination {
    background-color: #4e5d6c;
    display: flex;
    justify-content: center;
}

.cards {
    /* display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.card {
    min-height: 300px;
    max-height: 300px;
    min-width: 480px;
    max-width: 650px;
    background-color: #ebebeb;
    color: #2b3e50;
    margin: 15px;
    padding-top: 15px;
    box-shadow: inset 0px 10px 8px -10px #2b3e50, inset 0px -10px 8px -10px #2b3e50, 12px 0px 8px -10px #1e2c3a, -12px 0px 8px -10px #1e2c3a;
}

.card-text {
    word-wrap: break-word;
    overflow-x: visible;
    overflow-wrap: break-word;
}

.card-actions {
  bottom: 15px;
  position: absolute;
}

ul.nav-tabs li.active {
    position: relative;
    top: 2px;
}
